[build]
  publish = "_site"
  command = """
  bash -lc '
    set -e

    QVER=1.7.32
    DEB=quarto-${QVER}-linux-amd64.deb

    curl -fsSL -o ${DEB} \
      https://github.com/quarto-dev/quarto-cli/releases/download/v${QVER}/${DEB}

    dpkg -x ${DEB} .

    ./usr/bin/quarto --version
    ./usr/bin/quarto render
  '
  """

