@font-face {
  font-family: 'Newsreader';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Newsreader-Regular.ttf") format("ttf"),
       url("../fonts/Newsreader-Regular.ttf") format("ttf");
}
@font-face {
  font-family: 'Newsreader';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Newsreader-Italic.ttf") format("ttf"),
       url("../fonts/Newsreader-Italic.ttf") format("ttf");
}

@font-face {
  font-family: 'Newsreader';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Newsreader-Medium.ttf") format("ttf"),
       url("../fonts/Newsreader-Medium.ttf") format("ttf");
}
@font-face {
  font-family: 'Newsreader';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Newsreader-MediumItalic.ttf") format("ttf"),
       url("../fonts/Newsreader-MediumItalic.ttf") format("ttf");
}

@font-face {
  font-family: 'Newsreader';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Newsreader-Bold.ttf") format("ttf"),
       url("../fonts/Newsreader-Bold.ttf") format("ttf");
}
@font-face {
  font-family: 'Newsreader';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Newsreader-BoldItalic.ttf") format("ttf"),
       url("../fonts/Newsreader-BoldItalic.ttf") format("ttf");
}
