.post-content {
  table, tr, td {
      border: none;
  }
  table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    min-width: 400px;
    max-width: 100%;

    th,
    td {
      padding: 12px 15px;
      border: 0px solid $light-table-color;

      @media (prefers-color-scheme: dark) {
        border: 0px solid $dark-table-color;
      }
    }

    thead {
      tr {
        background-color: none;
        color: white;
        text-align: center;

        @media (prefers-color-scheme: dark) {
          background-color: none;
          color: white;
        }
      }
    }

    tbody {
      tr {
        border: 0px solid $light-table-color;
        @media (prefers-color-scheme: dark) {
          border: 0px solid $dark-table-color;
        }
      }
    }
  }
}
